<h1 ng-bind="vm.title" />
<div ng-show="!vm.ready" class="text-center">
  <img src="/static/img/loading.gif" />
</div>
<div ng-show="vm.ready">
  <p>
    <input type="text" ng-model="vm.filterProp" id="enterFilter" placeholder="Enter filter..." />
  </p>
  <table class="table table-striped">
    <tr>
      <th>
        <a href="" ng-click="vm.doSort('name');">Project Name</a>
		  <span ng-show="vm.sortProp==='name' && vm.reverseSort===false" ng-bind-html="vm.upArrow" />
		  <span ng-show="vm.sortProp==='name' && vm.reverseSort===true" ng-bind-html="vm.downArrow" />
      </th>
      <th>
        <a href="" ng-click="vm.doSort('general_area');">Research Area</a>
		  <span ng-show="vm.sortProp==='general_area' && vm.reverseSort===false" ng-bind-html="vm.upArrow" />
		  <span ng-show="vm.sortProp==='general_area' && vm.reverseSort===true" ng-bind-html="vm.downArrow" />
      </th>
      <th>
        <a href="" ng-click="vm.doSort('summary');">Summary</a>
		  <span ng-show="vm.sortProp==='summary' && vm.reverseSort===false" ng-bind-html="vm.upArrow" />
		  <span ng-show="vm.sortProp==='summary' && vm.reverseSort===true" ng-bind-html="vm.downArrow" />
      </th>
    </tr>
    <tr ng-repeat="ap in vm.availableProjects | orderBy:vm.sortProp:vm.reverseSort | filter:vm.filterProp">
      <td>
		  <a ng-href="/#/projectdetail/{{ap.name}}"><span ng-bind="ap.name" /></a>
		  <span title="This client is attached to this project." ng-show="ap.attached">&#10004;</span>
		  <span title="This project is supported by the current platform." ng-show="ap.supported">&#9733;</span>
		</td>
      <td>
        <span ng-bind="ap.general_area" />
        <span ng-show="ap.specific_area.length>0">(<span ng-bind="ap.specific_area" />)</span>
      </td>
      <td><span ng-bind="ap.summary" /></td>
    </tr>
  </table>
</div>
