<h1>{{ vm.title }}</h1>
<div>
  <form class="row-horizontal">
    <div class="row">
      <div class="col-xs-2"></div>
      <div class="col-xs-8">
        <div class="form-group">
          <label for="projecturl">Project URL</label>
          <input type="text" class="form-control" name="projecturl" ng-model="vm.projecturl">
        </div>
      </div>
      <div class="col-xs-2"></div>
    </div>
    <div class="row">
      <div class="col-xs-2"></div>
      <div class="col-xs-8">
        <div class="form-group">
          <label for="emailaddress">Email Address</label>
          <input type="text" class="form-control" name="emailaddress" ng-model="vm.emailaddress">
        </div>
      </div>
      <div class="col-xs-2"></div>
    </div>
    <div class="row">
      <div class="col-xs-2"></div>
      <div class="col-xs-8">
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" ng-model="vm.password">
        </div>
      </div>
      <div class="col-xs-2"></div>
    </div>
    <div class="row">
      <div class="col-xs-2"></div>
      <div class="col-xs-8">
        <button type="button" name="submit" class="btn btn-primary pull-right" ng-click="vm.submit_clicked()">
          Submit
        </button>
      </div>
      <div class="col-xs-2"></div>
    </div>
  </form>

</div>
