<div ng-controller="DailyTransferCtrl">
  <div ng-show="!ready" class="text-center">
    <img src="/static/img/loading.gif" />
  </div>
  <div ng-show="ready">
    <keyvalrow key="Total uploaded" val="{{ totalUploaded }}"></keyvalrow>
    <keyvalrow key="Total downloaded" val="{{ totalDownloaded }}"></keyvalrow>

    <br />

    <table class="table table-striped">
      <thead>
        <th><a href="#" ng-click="orderProp='date'; reverseSort = !reverseSort;">Date</a></th>
        <th><a href="#" ng-click="orderProp='uploaded'; reverseSort = !reverseSort">Uploaded</a></th>
        <th><a href="#" ng-click="orderProp='downloaded'; reverseSort = !reverseSort">Downloaded</a></th>
      </thead>
      <tr ng-repeat="dt in daily_transfers | orderBy:orderProp:reverseSort">
        <td>{{ dt.date.toDateString() }}</td>
        <td>{{ dt.uploaded + 'MB' }}</td>
        <td>{{ dt.downloaded + 'MB' }}</td>
      </tr>
    </table>
  </div>
</div>
