<div>
  <h1 ng-bind="vm.title" />
  <div ng-show="!vm.ready" class="text-center">
    <img src="/static/img/loading.gif" />
  </div>
  <div ng-show="vm.ready">
    <keyvalrow key="Total uploaded" val="{{ vm.totalUploaded }}" />
    <keyvalrow key="Total downloaded" val="{{ vm.totalDownloaded }}" />

    <br />

    <table class="table table-striped">
      <thead>
        <th>
			 <a ng-click="vm.sort('date');">Date</a>
			 <span ng-show="vm.orderProp==='date' && vm.reverseSort===false" ng-bind-html="vm.upArrow" />
			 <span ng-show="vm.orderProp==='date' && vm.reverseSort===true" ng-bind-html="vm.downArrow" />
		  </th>
        <th>
			 <a ng-click="vm.sort('uploaded');">Uploaded</a>
			 <span ng-show="vm.orderProp==='uploaded' && vm.reverseSort===false" ng-bind-html="vm.upArrow" />
			 <span ng-show="vm.orderProp==='uploaded' && vm.reverseSort===true" ng-bind-html="vm.downArrow" />
		  </th>
        <th>
			 <a ng-click="vm.sort('downloaded');">Downloaded</a>
			 <span ng-show="vm.orderProp==='downloaded' && vm.reverseSort===false" ng-bind-html="vm.upArrow" />
			 <span ng-show="vm.orderProp==='downloaded' && vm.reverseSort===true" ng-bind-html="vm.downArrow" />
		  </th>
      </thead>
      <tr ng-repeat="dt in vm.daily_transfers | orderBy:vm.orderProp:vm.reverseSort">
        <td><span ng-bind="dt.date.toDateString()" /></td>
        <td><span ng-bind="dt.uploaded + 'MB'" /></td>
        <td><span ng-bind="dt.downloaded + 'MB'" /></td>
      </tr>
    </table>
  </div>
</div>
