<h1 ng-bind="vm.title" />
<div ng-show="!vm.ready" class="text-center">
  <img src="/static/img/loading.gif" />
</div>
<div ng-show="vm.ready && vm.error">
  An error occurred while loading the global preferences. <a title="Retry" href="javascript:" ng-click="vm.load();">Retry</a>
</div>
<div ng-show="vm.ready && !vm.error">

  <h2>CPU/GPU</h2>
  <div class="row">
    <div class="col-xs-3">
      <strong>Percentage of the CPUS to use</strong>
    </div>
    <div class="col-xs-3" ng-bind="vm.prefs.max_ncpus_pct + '%'" ng-show="vm.prefs.max_ncpus_pct + '%'!==''" />
    <div class="col-xs-3" ng-show="vm.prefs.max_ncpus_pct + '%'===''">(no data)</div>
    <div class="col-xs-3">
      <strong>Maximum CPU uage</strong>
    </div>


    <div class="col-xs-3" ng-bind="vm.prefs.suspend_cpu_usage + '%'" ng-show="vm.prefs.suspend_cpu_usage + '%'.toString().length>0"></div>
    <div class="col-xs-3" ng-show="vm.prefs.suspend_cpu_usage + '%'.toString().length===0">(no data)</div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <strong>Maximum number of CPUs to use</strong>
    </div>
    <div class="col-xs-3" ng-bind="vm.prefs.max_cpus" ng-show="vm.prefs.max_cpus!==''" />
    <div class="col-xs-3" ng-show="vm.prefs.max_cpus===''">(no data)</div>
    <div class="col-xs-3">
      <strong>Use GPU if computer in use</strong>
    </div>


    <div class="col-xs-3" ng-bind="vm.prefs.run_gpu_if_user_active" ng-show="vm.prefs.run_gpu_if_user_active.toString().length>0"></div>
    <div class="col-xs-3" ng-show="vm.prefs.run_gpu_if_user_active.toString().length===0">(no data)</div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <strong>CPU Scheduling Period</strong>
    </div>
    <div class="col-xs-3" ng-bind="vm.prefs.cpu_scheduling_period_minutes" ng-show="vm.prefs.cpu_scheduling_period_minutes!==''" />
    <div class="col-xs-3" ng-show="vm.prefs.cpu_scheduling_period_minutes===''">(no data)</div>
    <div class="col-xs-3">
      <strong></strong>
    </div>




  </div>

  <h2>Memory</h2>
  <div class="row">
    <div class="col-xs-3">
      <strong>Maximum RAM to use when idle</strong>
    </div>
    <div class="col-xs-3" ng-bind="vm.prefs.ram_max_used_idle_pct + '%'" ng-show="vm.prefs.ram_max_used_idle_pct + '%'!==''" />
    <div class="col-xs-3" ng-show="vm.prefs.ram_max_used_idle_pct + '%'===''">(no data)</div>
    <div class="col-xs-3">
      <strong>Maximum % of RAM to use when in use</strong>
    </div>


    <div class="col-xs-3" ng-bind="vm.prefs.ram_max_used_busy_pct + '%'" ng-show="vm.prefs.ram_max_used_busy_pct + '%'.toString().length>0"></div>
    <div class="col-xs-3" ng-show="vm.prefs.ram_max_used_busy_pct + '%'.toString().length===0">(no data)</div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <strong>Leave apps in memory?</strong>
    </div>
    <div class="col-xs-3" ng-bind="vm.prefs.leave_apps_in_memory" ng-show="vm.prefs.leave_apps_in_memory!==''" />
    <div class="col-xs-3" ng-show="vm.prefs.leave_apps_in_memory===''">(no data)</div>
    <div class="col-xs-3">
      <strong></strong>
    </div>




  </div>

  <h2>When to run</h2>
  <div class="row">
    <div class="col-xs-3">
      <strong>Start Hour</strong>
    </div>
    <div class="col-xs-3" ng-bind="vm.prefs.start_hour" ng-show="vm.prefs.start_hour!==''" />
    <div class="col-xs-3" ng-show="vm.prefs.start_hour===''">(no data)</div>
    <div class="col-xs-3">
      <strong>End Hour</strong>
    </div>


    <div class="col-xs-3" ng-bind="vm.prefs.end_hour" ng-show="vm.prefs.end_hour.toString().length>0"></div>
    <div class="col-xs-3" ng-show="vm.prefs.end_hour.toString().length===0">(no data)</div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <strong>Run if computer in use</strong>
    </div>
    <div class="col-xs-3" ng-bind="vm.prefs.run_if_user_active" ng-show="vm.prefs.run_if_user_active!==''" />
    <div class="col-xs-3" ng-show="vm.prefs.run_if_user_active===''">(no data)</div>
    <div class="col-xs-3">
      <strong>Run when idle for</strong>
    </div>


    <div class="col-xs-3" ng-bind="vm.prefs.idle_time_to_run" ng-show="vm.prefs.idle_time_to_run.toString().length>0"></div>
    <div class="col-xs-3" ng-show="vm.prefs.idle_time_to_run.toString().length===0">(no data)</div>
  </div>

  <h2>Network</h2>
  <div class="row">
    <div class="col-xs-3">
      <strong>Hangup if dialed</strong>
    </div>
    <div class="col-xs-3" ng-bind="vm.prefs.hangup_if_dialed" ng-show="vm.prefs.hangup_if_dialed!==''" />
    <div class="col-xs-3" ng-show="vm.prefs.hangup_if_dialed===''">(no data)</div>
    <div class="col-xs-3">
      <strong>Confirm Before Making an Internet Connection</strong>
    </div>


    <div class="col-xs-3" ng-bind="vm.prefs.confirm_before_connecting" ng-show="vm.prefs.confirm_before_connecting.toString().length>0"></div>
    <div class="col-xs-3" ng-show="vm.prefs.confirm_before_connecting.toString().length===0">(no data)</div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <strong>Maximum download speed</strong>
    </div>
    <div class="col-xs-3" ng-bind="vm.prefs.max_bytes_sec_down" ng-show="vm.prefs.max_bytes_sec_down!==''" />
    <div class="col-xs-3" ng-show="vm.prefs.max_bytes_sec_down===''">(no data)</div>
    <div class="col-xs-3">
      <strong>Maximum upload speed</strong>
    </div>


    <div class="col-xs-3" ng-bind="vm.prefs.max_bytes_sec_up" ng-show="vm.prefs.max_bytes_sec_up.toString().length>0"></div>
    <div class="col-xs-3" ng-show="vm.prefs.max_bytes_sec_up.toString().length===0">(no data)</div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <strong>Starting hour for network traffic</strong>
    </div>
    <div class="col-xs-3" ng-bind="vm.prefs.net_start_hour" ng-show="vm.prefs.net_start_hour!==''" />
    <div class="col-xs-3" ng-show="vm.prefs.net_start_hour===''">(no data)</div>
    <div class="col-xs-3">
      <strong>Ending hour for network traffic</strong>
    </div>


    <div class="col-xs-3" ng-bind="vm.prefs.net_end_hour" ng-show="vm.prefs.net_end_hour.toString().length>0"></div>
    <div class="col-xs-3" ng-show="vm.prefs.net_end_hour.toString().length===0">(no data)</div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <strong>WiFi only?</strong>
    </div>
    <div class="col-xs-3" ng-bind="vm.prefs.network_wifi_only" ng-show="vm.prefs.network_wifi_only!==''" />
    <div class="col-xs-3" ng-show="vm.prefs.network_wifi_only===''">(no data)</div>
    <div class="col-xs-3">
      <strong></strong>
    </div>




  </div>

  <h2>Battery</h2>
  <div class="row">
    <div class="col-xs-3">
      <strong>Maximum battery temperature</strong>
    </div>
    <div class="col-xs-3" ng-bind="vm.prefs.battery_max_temperature" ng-show="vm.prefs.battery_max_temperature!==''" />
    <div class="col-xs-3" ng-show="vm.prefs.battery_max_temperature===''">(no data)</div>
    <div class="col-xs-3">
      <strong>Minimum battery charge</strong>
    </div>


    <div class="col-xs-3" ng-bind="vm.prefs.battery_charge_min_pct + '%'" ng-show="vm.prefs.battery_charge_min_pct + '%'.toString().length>0"></div>
    <div class="col-xs-3" ng-show="vm.prefs.battery_charge_min_pct + '%'.toString().length===0">(no data)</div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <strong>Run on batteries?</strong>
    </div>
    <div class="col-xs-3" ng-bind="vm.prefs.run_on_batteries" ng-show="vm.prefs.run_on_batteries!==''" />
    <div class="col-xs-3" ng-show="vm.prefs.run_on_batteries===''">(no data)</div>
    <div class="col-xs-3">
      <strong></strong>
    </div>




  </div>

  <h2>Disk</h2>
  <div class="row">
    <div class="col-xs-3">
      <strong>Maximum disk space to use</strong>
    </div>
    <div class="col-xs-3" ng-bind="vm.prefs.disk_max_used_gb + 'GB'" ng-show="vm.prefs.disk_max_used_gb + 'GB'!==''" />
    <div class="col-xs-3" ng-show="vm.prefs.disk_max_used_gb + 'GB'===''">(no data)</div>
    <div class="col-xs-3">
      <strong>Maximum percentage disk space to use</strong>
    </div>


    <div class="col-xs-3" ng-bind="vm.prefs.disk_max_used_pct + '%'" ng-show="vm.prefs.disk_max_used_pct + '%'.toString().length>0"></div>
    <div class="col-xs-3" ng-show="vm.prefs.disk_max_used_pct + '%'.toString().length===0">(no data)</div>
  </div>


  <div class="row">
    <div class="col-xs-3">
      <strong>Make tasks checkpoint to disk every</strong>
    </div>
    <div class="col-xs-3" ng-bind="vm.prefs.disk_interval + ' seconds'" ng-show="vm.prefs.disk_interval + ' seconds'!==''" />
    <div class="col-xs-3" ng-show="vm.prefs.disk_interval + ' seconds'===''">(no data)</div>
    <div class="col-xs-3">
      <strong>Minimum disk space to leave free</strong>
    </div>


    <div class="col-xs-3" ng-bind="vm.prefs.disk_min_free_gb" ng-show="vm.prefs.disk_min_free_gb.toString().length>0"></div>
    <div class="col-xs-3" ng-show="vm.prefs.disk_min_free_gb.toString().length===0">(no data)</div>
  </div>

  <h2>Misc. Settings</h2>
  <div class="row">
    <div class="col-xs-3">
      <strong>daily_xfer_period_days</strong>
    </div>
    <div class="col-xs-3" ng-bind="vm.prefs.daily_xfer_period_days" ng-show="vm.prefs.daily_xfer_period_days!==''" />
    <div class="col-xs-3" ng-show="vm.prefs.daily_xfer_period_days===''">(no data)</div>
    <div class="col-xs-3">
      <strong>Don't verify images</strong>
    </div>


    <div class="col-xs-3" ng-bind="vm.prefs.dont_verify_images" ng-show="vm.prefs.dont_verify_images.toString().length>0"></div>
    <div class="col-xs-3" ng-show="vm.prefs.dont_verify_images.toString().length===0">(no data)</div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <strong>mod_time</strong>
    </div>
    <div class="col-xs-3" ng-bind="vm.prefs.mod_time" ng-show="vm.prefs.mod_time!==''" />
    <div class="col-xs-3" ng-show="vm.prefs.mod_time===''">(no data)</div>
    <div class="col-xs-3">
      <strong>Override file present</strong>
    </div>


    <div class="col-xs-3" ng-bind="vm.prefs.override_file_present" ng-show="vm.prefs.override_file_present.toString().length>0"></div>
    <div class="col-xs-3" ng-show="vm.prefs.override_file_present.toString().length===0">(no data)</div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <strong>Source Project</strong>
    </div>
    <div class="col-xs-3" ng-bind="vm.prefs.source_project" ng-show="vm.prefs.source_project!==''" />
    <div class="col-xs-3" ng-show="vm.prefs.source_project===''">(no data)</div>
    <div class="col-xs-3">
      <strong>suspend_if_no_recent_input</strong>
    </div>


    <div class="col-xs-3" ng-bind="vm.prefs.suspend_if_no_recent_input" ng-show="vm.prefs.suspend_if_no_recent_input.toString().length>0"></div>
    <div class="col-xs-3" ng-show="vm.prefs.suspend_if_no_recent_input.toString().length===0">(no data)</div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <strong>Amount of extra work to buffer</strong>
    </div>
    <div class="col-xs-3" ng-bind="vm.prefs.work_buf_additional_days" ng-show="vm.prefs.work_buf_additional_days!==''" />
    <div class="col-xs-3" ng-show="vm.prefs.work_buf_additional_days===''">(no data)</div>
    <div class="col-xs-3">
      <strong>Minimum work to buffer</strong>
    </div>


    <div class="col-xs-3" ng-bind="vm.prefs.work_buf_min_days" ng-show="vm.prefs.work_buf_min_days.toString().length>0"></div>
    <div class="col-xs-3" ng-show="vm.prefs.work_buf_min_days.toString().length===0">(no data)</div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <strong>vm_max_used_pct</strong>
    </div>
    <div class="col-xs-3" ng-bind="vm.prefs.vm_max_used_pct" ng-show="vm.prefs.vm_max_used_pct!==''" />
    <div class="col-xs-3" ng-show="vm.prefs.vm_max_used_pct===''">(no data)</div>
    <div class="col-xs-3">
      <strong></strong>
    </div>




  </div>
</div>