<h1 ng-bind="vm.title" />
<div ng-show="!vm.ready" class="text-center">
  <img src="/static/img/loading.gif" />
</div>
<div ng-show="vm.ready && vm.error">
  An error occurred while loading the global preferences. <a title="Retry" href="javascript:" ng-click="vm.load();">Retry</a>
</div>
<div ng-show="vm.ready && !vm.error">
  <p>
    <small>Note: I still don't know what some of these things are for. I have coloured the things I am not sure about
    <span class="text-danger">like this.</span></small>
  </p>
  <div class="row task-row">	 
	 <div class="col-xs-{{vm.col1XsWidth}} col-lg-2" />
	 <div class="col-xs-{{vm.col2XsWidth}} col-lg-4"><span><strong>Run if computer in use</strong></span></div>
	 <div class="col-xs-{{vm.col3XsWidth}} col-lg-4"><span ng-bind="vm.prefs.run_if_user_active" />
	 </div>
	 <div class="col-xs-{{vm.col4XsWidth}} col-lg-2"></div>
  </div>

  <div class="row task-row">
	 <div class="col-xs-{{vm.col1XsWidth}} col-lg-2" />
	 <div class="col-xs-{{vm.col2XsWidth}} col-lg-4"><span><strong>Use GPU if computer in use</strong></span></div>
	 <div class="col-xs-{{vm.col3XsWidth}} col-lg-4"><span ng-bind="vm.prefs.run_gpu_if_user_active" />
	 </div>
	 <div class="col-xs-{{vm.col4XsWidth}} col-lg-2"></div>
  </div>

  <div class="row task-row">
	 <div class="col-xs-{{vm.col1XsWidth}} col-lg-2" />
	 <div class="col-xs-{{vm.col2XsWidth}} col-lg-4"><span><strong>Use GPU if computer in use</strong></span></div>
	 <div class="col-xs-{{vm.col3XsWidth}} col-lg-4"><span ng-bind="vm.prefs.run_gpu_if_user_active" />
	 </div>
	 <div class="col-xs-{{vm.col4XsWidth}} col-lg-2"></div>
  </div>
  
  <div class="row task-row">
	 <div class="col-xs-{{vm.col1XsWidth}} col-lg-2" />
	 <div class="col-xs-{{vm.col2XsWidth}} col-lg-4"><span><strong>Hangup if dialed</strong></span></div>
	 <div class="col-xs-{{vm.col3XsWidth}} col-lg-4"><span ng-bind="vm.prefs.hangup_if_dialed" />
	 </div>
	 <div class="col-xs-{{vm.col4XsWidth}} col-lg-2"></div>
  </div>
  
  <div class="row task-row">
	 <div class="col-xs-{{vm.col1XsWidth}} col-lg-2" />
	 <div class="col-xs-{{vm.col2XsWidth}} col-lg-4"><span><strong>Maximum RAM to use when idle</strong></span></div>
	 <div class="col-xs-{{vm.col3XsWidth}} col-lg-4"><span ng-bind="vm.prefs.ram_max_used_idle_pct + '%'" />
	 </div>
	 <div class="col-xs-{{vm.col4XsWidth}} col-lg-2"></div>
  </div>
  
  <div class="row task-row">
	 <div class="col-xs-{{vm.col1XsWidth}} col-lg-2" />
	 <div class="col-xs-{{vm.col2XsWidth}} col-lg-4"><span><strong>Start Hour</strong></span></div>
	 <div class="col-xs-{{vm.col3XsWidth}} col-lg-4"><span ng-bind="vm.prefs.start_hour" />
	 </div>
	 <div class="col-xs-{{vm.col4XsWidth}} col-lg-2"></div>
  </div>
  
  <div class="row task-row">
	 <div class="col-xs-{{vm.col1XsWidth}} col-lg-2" />
	 <div class="col-xs-{{vm.col2XsWidth}} col-lg-4"><span><strong>End Hour</strong></span></div>
	 <div class="col-xs-{{vm.col3XsWidth}} col-lg-4"><span ng-bind="vm.prefs.end_hour" />
	 </div>
	 <div class="col-xs-{{vm.col4XsWidth}} col-lg-2"></div>
  </div>
  

  <div class="text-danger">
    <div class="row task-row">
		<div class="col-xs-{{vm.col1XsWidth}} col-lg-2" />
		<div class="col-xs-{{vm.col2XsWidth}} col-lg-4"><span><strong>max_ncpus_pct</strong></span></div>
		<div class="col-xs-{{vm.col3XsWidth}} col-lg-4"><span ng-bind="vm.prefs.max_ncpus_pct + '%'" />
		</div>
		<div class="col-xs-{{vm.col4XsWidth}} col-lg-2"></div>
	 </div>	 
  </div>

  <div class="row task-row">
	 <div class="col-xs-{{vm.col1XsWidth}} col-lg-2" />
	 <div class="col-xs-{{vm.col2XsWidth}} col-lg-4">
		<span><strong>Maximum battery temperature:</strong></span>
	 </div>
	 <div class="col-xs-{{vm.col3XsWidth}} col-lg-4"><span ng-bind="vm.prefs.battery_max_temperature + '&#176;C'" />
																			 </div>
	 <div class="col-xs-{{vm.col4XsWidth}} col-lg-2"></div>
  </div>				 

  <div class="row task-row">
	 <div class="col-xs-{{vm.col1XsWidth}} col-lg-2" />
	 <div class="col-xs-{{vm.col2XsWidth}} col-lg-4"><span><strong>Maximum CPU usage:</strong></span></div>
	 <div class="col-xs-{{vm.col3XsWidth}} col-lg-4"><span ng-bind="vm.prefs.suspend_cpu_usage + '%'" />
																			 </div>
	 <div class="col-xs-{{vm.col4XsWidth}} col-lg-2"></div>
  </div>


  <div class="row task-row">
	 <div class="col-xs-{{vm.col1XsWidth}} col-lg-2" />
	 <div class="col-xs-{{vm.col2XsWidth}} col-lg-4"><span><strong>Maximum % of RAM to use when in use</strong></span></div>
	 <div class="col-xs-{{vm.col3XsWidth}} col-lg-4"><span ng-bind="vm.prefs.ram_max_used_busy_pct + '%'" />
	 </div>
	 <div class="col-xs-{{vm.col4XsWidth}} col-lg-2"></div>
  </div>
  
  <div class="row task-row">
	 <div class="col-xs-{{vm.col1XsWidth}} col-lg-2" />
	 <div class="col-xs-{{vm.col2XsWidth}} col-lg-4"><span><strong>Minimum battery charge:</strong></span></div>
	 <div class="col-xs-{{vm.col3XsWidth}} col-lg-4"><span ng-bind="vm.prefs.battery_charge_min_pct + '%'" />
																			 </div>
	 <div class="col-xs-{{vm.col4XsWidth}} col-lg-2"></div>
  </div>

  <div class="row task-row">
	 <div class="col-xs-{{vm.col1XsWidth}} col-lg-2" />
	 <div class="col-xs-{{vm.col2XsWidth}} col-lg-4"><span><strong>Confirm Before Making an Internet Connection:</strong></span></div>
	 <div class="col-xs-{{vm.col3XsWidth}} col-lg-4"><span ng-bind="vm.prefs.confirm_before_connecting" />
	 </div>
	 <div class="col-xs-{{vm.col4XsWidth}} col-lg-2"></div>
  </div>
  

  <div class="row task-row">
	 <div class="col-xs-{{vm.col1XsWidth}} col-lg-2" />
	 <div class="col-xs-{{vm.col2XsWidth}} col-lg-4"><span><strong>CPU Scheduling Period:</strong></span></div>
	 <div class="col-xs-{{vm.col3XsWidth}} col-lg-4"><span ng-bind="vm.prefs.cpu_scheduling_period_minutes + ' minutes'" />
	 </div>
	 <div class="col-xs-{{vm.col4XsWidth}} col-lg-2"></div>
  </div>
  
  
  <div class="row task-row">
	 <div class="col-xs-{{vm.col1XsWidth}} col-lg-2" />
	 <div class="col-xs-{{vm.col2XsWidth}} col-lg-4"><span><strong>CPU usage limit:</strong></span></div>
	 <div class="col-xs-{{vm.col3XsWidth}} col-lg-4"><span ng-bind="vm.prefs.cpu_usage_limit + '%'" />
																			 </div>
	 <div class="col-xs-{{vm.col4XsWidth}} col-lg-2"></div>
  </div>
  
  <div class="text-danger">
    <div class="row task-row">
		<div class="col-xs-{{vm.col1XsWidth}} col-lg-2" />
		<div class="col-xs-{{vm.col2XsWidth}} col-lg-4"><span><strong>daily_xfer_period_days:</strong></span></div>
		<div class="col-xs-{{vm.col3XsWidth}} col-lg-4"><span ng-bind="vm.prefs.daily_xfer_period_days" />
		</div>
		<div class="col-xs-{{vm.col4XsWidth}} col-lg-2"></div>
	 </div>
	 
  </div>

  <div class="text-danger">
    <div class="row task-row">
		<div class="col-xs-{{vm.col1XsWidth}} col-lg-2" />
		<div class="col-xs-{{vm.col2XsWidth}} col-lg-4"><span><strong>disk_interval:</strong></span></div>
		<div class="col-xs-{{vm.col3XsWidth}} col-lg-4"><span ng-bind="vm.prefs.disk_interval" />
		</div>
		<div class="col-xs-{{vm.col4XsWidth}} col-lg-2"></div>
	 </div>	 
  </div>

  <div class="row task-row">
	 <div class="col-xs-{{vm.col1XsWidth}} col-lg-2" />
	 <div class="col-xs-{{vm.col2XsWidth}} col-lg-4"><span><strong>Maximum disk space to use:</strong></span></div>
	 <div class="col-xs-{{vm.col3XsWidth}} col-lg-4"><span ng-bind="vm.prefs.disk_max_used_gb + 'GB'" />
	 </div>
	 <div class="col-xs-{{vm.col4XsWidth}} col-lg-2"></div>
  </div>
  
  <div class="row task-row">
	 <div class="col-xs-{{vm.col1XsWidth}} col-lg-2" />
	 <div class="col-xs-{{vm.col2XsWidth}} col-lg-4"><span><strong>Maximum disk space to use:</strong></span></div>
	 <div class="col-xs-{{vm.col3XsWidth}} col-lg-4"><span ng-bind="vm.prefs.disk_max_used_pct + '%'" />
	 </div>
	 <div class="col-xs-{{vm.col4XsWidth}} col-lg-2"></div>
  </div>
  
  <div class="row task-row">
	 <div class="col-xs-{{vm.col1XsWidth}} col-lg-2" />
	 <div class="col-xs-{{vm.col2XsWidth}} col-lg-4"><span><strong>Minimum disk space to leave free:</strong></span></div>
	 <div class="col-xs-{{vm.col3XsWidth}} col-lg-4"><span ng-bind="vm.prefs.disk_min_free_gb + 'GB'" />
	 </div>
	 <div class="col-xs-{{vm.col4XsWidth}} col-lg-2"></div>
  </div>
  

  <div class="text-danger">
    <div class="row task-row">
		<div class="col-xs-{{vm.col1XsWidth}} col-lg-2" />
		<div class="col-xs-{{vm.col2XsWidth}} col-lg-4"><span><strong>Don't verify images:</strong></span></div>
		<div class="col-xs-{{vm.col3XsWidth}} col-lg-4"><span ng-bind="vm.prefs.dont_verify_images" />
		</div>
		<div class="col-xs-{{vm.col4XsWidth}} col-lg-2"></div>
	 </div>	 
  </div>

  <div class="row task-row">
	 <div class="col-xs-{{vm.col1XsWidth}} col-lg-2" />
	 <div class="col-xs-{{vm.col2XsWidth}} col-lg-4"><span><strong>Run when idle for:</strong></span></div>
	 <div class="col-xs-{{vm.col3XsWidth}} col-lg-4"><span ng-bind="vm.prefs.idle_time_to_run" />
	 </div>
	 <div class="col-xs-{{vm.col4XsWidth}} col-lg-2"></div>
  </div>
  

  <div class="text-danger">
    <div class="row task-row">
		<div class="col-xs-{{vm.col1XsWidth}} col-lg-2" />
		<div class="col-xs-{{vm.col2XsWidth}} col-lg-4"><span><strong>Leave apps in memory?:</strong></span></div>
		<div class="col-xs-{{vm.col3XsWidth}} col-lg-4"><span ng-bind="vm.prefs.leave_apps_in_memory" />
		</div>
		<div class="col-xs-{{vm.col4XsWidth}} col-lg-2"></div>
	 </div>
	 
  </div>

  <div class="row task-row">
	 <div class="col-xs-{{vm.col1XsWidth}} col-lg-2" />
	 <div class="col-xs-{{vm.col2XsWidth}} col-lg-4"><span><strong>Maximum download speed:</strong></span></div>
	 <div class="col-xs-{{vm.col3XsWidth}} col-lg-4"><span ng-bind="vm.prefs.max_bytes_sec_down + ' bytes/second'" />
	 </div>
	 <div class="col-xs-{{vm.col4XsWidth}} col-lg-2"></div>
  </div>
  
  <div class="row task-row">
	 <div class="col-xs-{{vm.col1XsWidth}} col-lg-2" />
	 <div class="col-xs-{{vm.col2XsWidth}} col-lg-4"><span><strong>Maximum upload speed:</strong></span></div>
	 <div class="col-xs-{{vm.col3XsWidth}} col-lg-4"><span ng-bind="vm.prefs.max_bytes_sec_up +  'bytes/second'" />
	 </div>
	 <div class="col-xs-{{vm.col4XsWidth}} col-lg-2"></div>
  </div>
  
  <div class="row task-row">
	 <div class="col-xs-{{vm.col1XsWidth}} col-lg-2" />
	 <div class="col-xs-{{vm.col2XsWidth}} col-lg-4"><span><strong>Maximum number of CPUs to use:</strong></span></div>
	 <div class="col-xs-{{vm.col3XsWidth}} col-lg-4"><span ng-bind="vm.prefs.max_cpus" />
	 </div>
	 <div class="col-xs-{{vm.col4XsWidth}} col-lg-2"></div>
  </div>
  

  <div class="text-danger">
    <div class="row task-row">
		<div class="col-xs-{{vm.col1XsWidth}} col-lg-2" />
		<div class="col-xs-{{vm.col2XsWidth}} col-lg-4"><span><strong>mod_time</strong></span></div>
		<div class="col-xs-{{vm.col3XsWidth}} col-lg-4"><span ng-bind="vm.prefs.mod_time" />
		</div>
		<div class="col-xs-{{vm.col4XsWidth}} col-lg-2"></div>
	 </div>	 
  </div>

  <div class="row task-row">
	 <div class="col-xs-{{vm.col1XsWidth}} col-lg-2" />
	 <div class="col-xs-{{vm.col2XsWidth}} col-lg-4"><span><strong>Starting hour for network traffic</strong></span></div>
	 <div class="col-xs-{{vm.col3XsWidth}} col-lg-4"><span ng-bind="vm.prefs.net_start_hour" />
	 </div>
	 <div class="col-xs-{{vm.col4XsWidth}} col-lg-2"></div>
  </div>
  
  <div class="row task-row">
	 <div class="col-xs-{{vm.col1XsWidth}} col-lg-2" />
	 <div class="col-xs-{{vm.col2XsWidth}} col-lg-4"><span><strong>Ending hour for network traffic</strong></span></div>
	 <div class="col-xs-{{vm.col3XsWidth}} col-lg-4"><span ng-bind="vm.prefs.net_end_hour" />
	 </div>
	 <div class="col-xs-{{vm.col4XsWidth}} col-lg-2"></div>
  </div>
  
  <div class="row task-row">
	 <div class="col-xs-{{vm.col1XsWidth}} col-lg-2" />
	 <div class="col-xs-{{vm.col2XsWidth}} col-lg-4"><span><strong>WiFi only?</strong></span></div>
	 <div class="col-xs-{{vm.col3XsWidth}} col-lg-4"><span ng-bind="vm.prefs.network_wifi_only" />
	 </div>
	 <div class="col-xs-{{vm.col4XsWidth}} col-lg-2"></div>
  </div>
  
  <div class="row task-row">
	 <div class="col-xs-{{vm.col1XsWidth}} col-lg-2" />
	 <div class="col-xs-{{vm.col2XsWidth}} col-lg-4"><span><strong>Override file present</strong></span></div>
	 <div class="col-xs-{{vm.col3XsWidth}} col-lg-4"><span ng-bind="vm.prefs.override_file_present" />
	 </div>
	 <div class="col-xs-{{vm.col4XsWidth}} col-lg-2"></div>
  </div>
  
  <div class="row task-row">
	 <div class="col-xs-{{vm.col1XsWidth}} col-lg-2" />
	 <div class="col-xs-{{vm.col2XsWidth}} col-lg-4"><span><strong>Run on batteries?</strong></span></div>
	 <div class="col-xs-{{vm.col3XsWidth}} col-lg-4"><span ng-bind="vm.prefs.run_on_batteries" />
	 </div>
	 <div class="col-xs-{{vm.col4XsWidth}} col-lg-2"></div>
  </div>
  
  <div class="row task-row">
	 <div class="col-xs-{{vm.col1XsWidth}} col-lg-2" />
	 <div class="col-xs-{{vm.col2XsWidth}} col-lg-4"><span><strong>Source project</strong></span></div>
	 <div class="col-xs-{{vm.col3XsWidth}} col-lg-4"><span ng-bind="vm.prefs.source_project" />
	 </div>
	 <div class="col-xs-{{vm.col4XsWidth}} col-lg-2"></div>
  </div>
  
  <div class="text-danger">
    <div class="row task-row">
		<div class="col-xs-{{vm.col1XsWidth}} col-lg-2" />
		<div class="col-xs-{{vm.col2XsWidth}} col-lg-4"><span><strong>suspend_if_no_recent_input</strong></span></div>
		<div class="col-xs-{{vm.col3XsWidth}} col-lg-4"><span ng-bind="vm.prefs.suspend_if_no_recent_input" />
		</div>
		<div class="col-xs-{{vm.col4XsWidth}} col-lg-2"></div>
	 </div>	 
  </div>

  <div class="text-danger">
    <div class="row task-row">
		<div class="col-xs-{{vm.col1XsWidth}} col-lg-2" />
		<div class="col-xs-{{vm.col2XsWidth}} col-lg-4"><span><strong>vm_max_used_pct</strong></span></div>
		<div class="col-xs-{{vm.col3XsWidth}} col-lg-4"><span ng-bind="vm.prefs.vm_max_used_pct" />
		</div>
		<div class="col-xs-{{vm.col4XsWidth}} col-lg-2"></div>
	 </div>	 
  </div>

  <div class="row task-row">
	 <div class="col-xs-{{vm.col1XsWidth}} col-lg-2" />
	 <div class="col-xs-{{vm.col2XsWidth}} col-lg-4"><span><strong>Minimum work to buffer:</strong></span></div>
	 <div class="col-xs-{{vm.col3XsWidth}} col-lg-4"><span ng-bind="vm.prefs.work_buf_min_days + ' days'" />
	 </div>
	 <div class="col-xs-{{vm.col4XsWidth}} col-lg-2"></div>
  </div>
  
  <div class="row task-row">
	 <div class="col-xs-{{vm.col1XsWidth}} col-lg-2" />
	 <div class="col-xs-{{vm.col2XsWidth}} col-lg-4"><span><strong>Amount of extra work to buffer:</strong></span></div>
	 <div class="col-xs-{{vm.col3XsWidth}} col-lg-4"><span ng-bind="vm.prefs.work_buf_additional_days +  'days'" />
	 </div>
	 <div class="col-xs-{{vm.col4XsWidth}} col-lg-2"></div>
  </div>
  
</div>
