<div>
  <h1 ng-bind="vm.title" />
  <div ng-show="!vm.ready" class="text-center">
    <img src="/static/img/loading.gif" />
  </div>
  <div ng-show="vm.ready && vm.error">
	 An error occurred while loading the host info. <a title="Retry" href="javascript:" ng-click="vm.load();">Retry</a>
  </div>
  <div ng-show="vm.ready && !vm.error">
    <keyvalrow key="System uptime" val="{{ vm.host_info.uptime }}" />
    <keyvalrow key="Timezone" val="{{ vm.host_info.timezone  }}" />
    <keyvalrow key="Domain name" val="{{ vm.host_info.domain_name }}" />
    <keyvalrow key="IP address" val="{{ vm.host_info.ip_address }}" />
    <keyvalrow key="Number of CPUs" val="{{ vm.host_info.number_of_cpus }}" />
    <keyvalrow key="CPU vendor" val="{{ vm.host_info.cpu_vendor }}" />
    <keyvalrow key="CPU Model" val="{{ vm.host_info.cpu_model }}" />
    <keyvalrow key="CPU floating point operations/second" val="{{ vm.host_info.cpu_fps_ops }}" />
    <keyvalrow key="CPU integer operations/second" val="{{ vm.host_info.cpu_int_ops }}" />
    <keyvalrow key="CPU memory bandwidth" val="{{ vm.host_info.cpu_mem_bw }}" />
    <keyvalrow key="Operating system name" val="{{ vm.host_info.os_name }}" />
    <keyvalrow key="Operating system version" val="{{ vm.host_info.os_version }}" />
    <keyvalrow key="Memory size" val="{{ vm.host_info.memory_size }}" />
    <keyvalrow key="Cache size" val="{{ vm.host_info.cache_size }}" />
    <keyvalrow key="Swap size" val="{{ vm.host_info.swap_size }}" />
    <keyvalrow key="Disk size" val="{{ vm.host_info.disk_size }}" />
    <keyvalrow key="Disk free" val="{{ vm.host_info.disk_free }}" />
  </div>
  <div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-3"></div>
    <div class="col-xs-3"></div>
    <div class="col-xs-3">
      <input type="checkbox" ng-model="vm.showRawData">Show raw data</input>
    </div>
  </div>

  <div class="row" ng-show="vm.showRawData">
    {{ vm.host_info }}
  </div>
</div>
