<div>
  <h1 ng-bind=" vm.title" />
  <div ng-show="!vm.ready" class="text-center">
    <img src="/static/img/loading.gif" />
  </div>
  <div ng-show="vm.ready && vm.error">
	 An error occurred while loading the messages. <a title="Retry" href="javascript:" ng-click="vm.load();">Retry</a>
  </div>
  <div ng-show="vm.ready && !vm.error">
    <h2>Filter</h2>
    <label for="selectProject">Project</label>
    <select ng-model="vm.filterProp" name="selectProject">
      <option ng-repeat="(k, v) in vm.project_name_counts" value="{{ k }}">
        {{ vm.get_project_name(k) }} ({{ v }} messages)
      </option>
    </select>

    <input type="text" ng-model="vm.filterProp" id="enterFilter" placeholder="Enter filter..." />

    <h2>Messages</h2>

    <table class="table table-striped">
      <thead>
        <th>
			 <a ng-click="vm.sort('message_number');">#</a>
			 <span ng-show="vm.orderProp==='message_number' && vm.reverseSort===false" ng-bind-html="vm.upArrow" />
			 <span ng-show="vm.orderProp==='message_number' && vm.reverseSort===true" ng-bind-html="vm.downArrow" />
		  </th>
        <th>
			 <a ng-click="vm.sort('date_time');">Message Date</a>
			 <span ng-show="vm.orderProp==='date_time' && vm.reverseSort===false" ng-bind-html="vm.upArrow" />
			 <span ng-show="vm.orderProp==='date_time' && vm.reverseSort===true" ng-bind-html="vm.downArrow" />
		  </th>
        <th>
			 <a ng-click="vm.sort('project_name');">Project</a>
			 <span ng-show="vm.orderProp==='project_name' && vm.reverseSort===false" ng-bind-html="vm.upArrow" />
			 <span ng-show="vm.orderProp==='project_name' && vm.reverseSort===true" ng-bind-html="vm.downArrow" />
		  </th>
        <th>
			 <a ng-click="vm.sort('message_text');">Message Text</a>
			 <span ng-show="vm.orderProp==='message_text' && vm.reverseSort===false" ng-bind-html="vm.upArrow" />
			 <span ng-show="vm.orderProp==='message_text' && vm.reverseSort===true" ng-bind-html="vm.downArrow" />
		  </th>
      </thead>
      <tr ng-repeat="m in vm.messages | orderBy:vm.orderProp:vm.reverseSort | filter:vm.filterProp">
        <td><span ng-bind="m.message_number" /></td>
        <td><span ng-bind="m.date_time" /></td>
        <td><span ng-bind="m.project_name" /></td>
        <td><span ng-bind="m.message_text" /></td>
      </tr>
    </table>
  </div>
</div>
