<h1 ng-bind="vm.title"></h1>
<div ng-show="!vm.ready" class="text-center">
  <img src="/static/img/loading.gif" />
</div>
<div ng-show="vm.ready">
  <div>
    <form class="row-horizontal">
      <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
          <div class="form-group">
            <label for="endpoint">Service endpoint</label>
            <input name="endpoint" ng-model="vm.endpoint" class="form-control"
						 title="Enter a url to use as an endpoint for web service calls. By default this will be http://localhost. Trailing slashes will be trimmed. Clear this and save to return to default." />
          </div>
        </div>
        <div class="col-xs-2"></div>
      </div>
     
      <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
          <button type="button" name="submit" class="btn btn-primary pull-right" ng-click="vm.submitClicked()">
            Submit
          </button>
        </div>
        <div class="col-xs-2"></div>
      </div>
    </form>
  </div>
</div>
