<div ng-show="!vm.ready" class="text-center">
  <img src="/static/img/loading.gif" />
</div>
<div ng-show="vm.ready">
  <h1 ng-bind="vm.title" />

  <div ng-repeat="notice in vm.notices | orderBy:seqNo">
    <h2 ng-bind="notice.title" />
    <p>
      <small>
        From <span ng-bind="notice.project_name" />.
        Published <span ng-bind="notice.create_time" />
        and received <span ng-bind="notice.arrival_time" />
      </small>
    </p>
    <p ng-bind-html="notice.description" />
  </div>
</div>
