<div ng-controller="ProjectsCtrl as vm">
  <h1>{{ vm.title }}</h1>
  <div ng-show="!vm.ready" class="text-center">
    <img src="/static/img/loading.gif" />
  </div>
  <div ng-show="vm.ready">
    <table class="table table-striped">
      <thead>
        <th><a ng-click="vm.orderProp='name'; vm.reverseSort=!vm.reverseSort">Project Name</a></th>
        <th><a ng-click="vm.orderProp='user_total_credit'; vm.reverseSort=!vm.reverseSort">Total Credit</a></th>
        <th><a ng-click="vm.orderProp='user_expavg_credit'; vm.reverseSort=!vm.reverseSort">Recent Average Credit</a></th>
		  <th ng-show="false">Stuff</th>
      </thead>
      <tr ng-repeat="p in vm.projects | orderBy:vm.orderProp:vm.reverseSort">
        <td><a href="#/project?project={{ p.name }}">{{ p.name }}</a></td>
        <td>{{ p.user_total_credit }}</td>
        <td>{{ p.user_expavg_credit }}</td>
		  <td ng-show="false">
			 <div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				  Actions
				  <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				  <li><a href="" ng-click="vm.detachClicked(p.name, p.master_url)">Detach</a></li>
				  <li><a href="" ng-click="vm.updateClicked()">Update</a></li>
				</ul>
			 </div>
		  </td>
      </tr>		
    </table>
    <div class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-3"></div>
      <div class="col-xs-3"></div>
      <div class="col-xs-3">
        <input type="checkbox" ng-model="vm.showRawData">Show raw data</input>
      </div>
    </div>
    <div class="row" ng-show="vm.showRawData">
      {{ vm.projects }}
    </div>
	 <detach-dialog id="dDialog" projecturl="{{vm.detachUrl}}" projectname="{{vm.detachName}}"></detach-dialog>
  </div>
</div>
