<div ng-controller="ProjectCtrl as vm">
  <h1>{{ vm.title }}</h1>
  <div ng-show="!vm.ready" class="text-center">
    <img src="/static/img/loading.gif" />
  </div>
  <div ng-show="vm.ready && vm.error" class="text-center">
    <span ng-bind="vm.errorMessage"></span>
  </div>
  <div ng-show="vm.ready && !vm.error">
    <h2>Current Status</h2>

    <keyvalrow key="URL" val="{{ vm.project.master_url }}"></keyvalrow>
    <keyvalrow key="Username" val="{{ vm.project.user_name }}"></keyvalrow>
    <keyvalrow key="Team name" val="{{ vm.project.team_name }}"></keyvalrow>
    <keyvalrow key="Attached via account manager?" val="{{ vm.project.attached_via_account_manager }}"></keyvalrow>
    <keyvalrow key="Ended" val="{{ vm.project.ended }}"></keyvalrow>
    <keyvalrow key="Suspended via GUI?" val="{{ vm.project.suspended_via_gui }}"></keyvalrow>
    <keyvalrow key="Don't request more work" val="{{ vm.project.dont_request_more_work }}"></keyvalrow>
    <keyvalrow key="Disk usage" val="{{ vm.project.disk_usage }}"></keyvalrow>
    <keyvalrow key="Resource share" val="{{ vm.project.resource_share }}"></keyvalrow>

    <h2>Credit</h2>

    <keyvalrow key="User total credit" val="{{ vm.project.user_total_credit }}"></keyvalrow>
    <keyvalrow key="User recent average credit" val="{{ vm.project.user_expavg_credit }}"></keyvalrow>
    <keyvalrow key="Total credit for this host" val="{{ vm.project.host_total_credit }}"></keyvalrow>
    <keyvalrow key="Recent average credit for this host" val="{{ vm.project.host_expavg_credit }}"></keyvalrow>

    <h2>Additional</h2>

    <div id="project-additional">
      <keyvalrow key="NRPC failures" val="{{ vm.project.nrpc_failures }}"></keyvalrow>
      <keyvalrow key="Master fetch failures" val="{{ vm.project.master_fetch_failures }}"></keyvalrow>
      <keyvalrow key="Master fetch pending?" val="{{ vm.project.master_fetch_pending }}"></keyvalrow>
      <keyvalrow key="Scheduler RPC pending?" val="{{ vm.project.scheduler_rpc_pending }}"></keyvalrow>
      <keyvalrow key="Trickle upload pending?" val="{{ vm.project.trickle_upload_pending }}"></keyvalrow>
      <keyvalrow key="Last RPC" val="{{ vm.project.last_rpc }}"></keyvalrow>
      <keyvalrow key="Project files downloaded" val="{{ vm.project.project_files_downloaded }}"></keyvalrow>

      <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-3"></div>
        <div class="col-xs-3"></div>
        <div class="col-xs-3">
          <input type="checkbox" ng-model="vm.showRawData">Show raw data</input>
        </div>
      </div>
      <div class="row" ng-show="vm.showRawData">
        {{ vm.project }}
      </div>
    </div>
  </div>
  <div class="row home-row text-center">
    <a href="/projects">Projects</a></div>
  </div>
</div>
