<div>
  <h1 ng-bind="vm.title" />
  <div ng-show="!vm.ready" class="text-center">
    <img src="/static/img/loading.gif" />
  </div>
  <div ng-show="vm.ready && vm.error">
	 An error occurred while loading the project. <a title="Retry" href="javascript:" ng-click="vm.load();">Retry</a>
  </div>
  <div ng-show="vm.ready && !vm.error">
    <table class="table table-striped">
      <thead>
        <th>
			 <a ng-click="vm.sort('name');">Project Name</a>
			 <span ng-show="vm.orderProp==='name' && vm.reverseSort===false" ng-bind-html="vm.upArrow" />
			 <span ng-show="vm.orderProp==='name' && vm.reverseSort===true" ng-bind-html="vm.downArrow" />
		  </th>
        <th>
			 <a ng-click="vm.sort('user_total_credit');">Total Credit</a>
			 <span ng-show="vm.orderProp==='user_total_credit' && vm.reverseSort===false" ng-bind-html="vm.upArrow" />
			 <span ng-show="vm.orderProp==='user_total_credit' && vm.reverseSort===true" ng-bind-html="vm.downArrow" />
		  </th>
        <th>
			 <a ng-click="vm.sort('user_expavg_credit');">Recent Average Credit</a>
			 <span ng-show="vm.orderProp==='user_expavg_credit' && vm.reverseSort===false" ng-bind-html="vm.upArrow" />
			 <span ng-show="vm.orderProp==='user_expavg_credit' && vm.reverseSort===true" ng-bind-html="vm.downArrow" />
		  </th>
		  <th>Actions</th>
      </thead>
      <tr ng-repeat="p in vm.projects | orderBy:vm.orderProp:vm.reverseSort">
        <td><a href="#/project?project={{ p.name }}"><span ng-bind="p.name" /></a></td>
        <td><span ng-bind="p.user_total_credit" /></td>
        <td><span ng-bind="p.user_expavg_credit" /></td>
		  <td ng-show="true">
			 <div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				  Actions
				  <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				  <li><a href="" ng-click="vm.detachClicked(p.name, p.master_url)">Detach</a></li>
				  <li><a href="" ng-click="vm.updateClicked()">Update</a></li>
				</ul>
			 </div>
		  </td>
      </tr>		
    </table>
    <div class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-3"></div>
      <div class="col-xs-3"></div>
      <div class="col-xs-3">
        <input type="checkbox" ng-model="vm.showRawData">Show raw data</input>
      </div>
    </div>
    <div class="row" ng-show="vm.showRawData">
      {{ vm.projects }}
    </div>
	 <detach-dialog id="dDialog" projecturl="{{vm.detachUrl}}" projectname="{{vm.detachName}}"></detach-dialog>
  </div>
</div>
