<div>
  <h1 ng-bind=" vm.title" />
  <div ng-show="!vm.ready" class="text-center">
    <img src="/static/img/loading.gif" />
  </div>
  <div ng-show="vm.ready && vm.error" class="text-center">
    <span ng-bind="vm.errorMessage" />
  </div>
  <div ng-show="vm.ready && !vm.projectFound">
	 <h2>Project not found</h2>
  </div>
  <div ng-show="vm.ready && !vm.error && vm.projectFound">
	 <a ng-href="/#/projectdetail/{{vm.project.name}}">Project Details</a>
    <h2>Current Status</h2>

	 <keyvallinkrow key="URL" link="{{vm.project.master_url}}" text="{{vm.project.master_url}}" />
    <keyvalrow key="Username" val="{{ vm.project.user_name }}" />
    <keyvalrow key="Team name" val="{{ vm.project.team_name }}" />
    <keyvalrow key="Attached via account manager?" val="{{ vm.project.attached_via_account_manager }}" />
    <keyvalrow key="Ended" val="{{ vm.project.ended }}" />
    <keyvalrow key="Suspended via GUI?" val="{{ vm.project.suspended_via_gui }}" />
    <keyvalrow key="Don't request more work" val="{{ vm.project.dont_request_more_work }}" />
    <keyvalrow key="Disk usage" val="{{ vm.project.disk_usage }}" />
    <keyvalrow key="Resource share" val="{{ vm.project.resource_share }}" />

    <h2>Credit</h2>

    <keyvalrow key="User total credit" val="{{ vm.project.user_total_credit }}" />
    <keyvalrow key="User recent average credit" val="{{ vm.project.user_expavg_credit }}" />
    <keyvalrow key="Total credit for this host" val="{{ vm.project.host_total_credit }}" />
    <keyvalrow key="Recent average credit for this host" val="{{ vm.project.host_expavg_credit }}" />

    <h2>Additional</h2>
	 
    <div id="project-additional">
      <keyvalrow key="NRPC failures" val="{{ vm.project.nrpc_failures }}" />
      <keyvalrow key="Master fetch failures" val="{{ vm.project.master_fetch_failures }}" />
      <keyvalrow key="Master fetch pending?" val="{{ vm.project.master_fetch_pending }}" />
      <keyvalrow key="Scheduler RPC pending?" val="{{ vm.project.scheduler_rpc_pending }}" />
      <keyvalrow key="Trickle upload pending?" val="{{ vm.project.trickle_upload_pending }}" />
      <keyvalrow key="Last RPC" val="{{ vm.project.last_rpc }}" />
      <keyvalrow key="Project files downloaded" val="{{ vm.project.project_files_downloaded }}" />
		
		<div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-3"></div>
        <div class="col-xs-3">&nbsp;</div>
        <div class="col-xs-3"></div>
      </div>
	 </div>	 
	 
    
	 <h2>Statistics</h2>

	 <div class="row">
		<table class="table table-striped">
		  <thead>
			 <th><a ng-click="vm.statsSort('day');">Day</a></th>
			 <th><a ng-click="vm.statsSort('user_total_credit');">User Total Credit</a></th>
			 <th><a ng-click="vm.statsSort('user_expavg_credit');">User Recent Average Credit</a></th>
			 <th><a ng-click="vm.statsSort('host_total_credit');">Host Total Credit</a></th>
			 <th><a ng-click="vm.statsSort('host_expavg_credit');">Host Recent Average Credit</a></th>
		  </thead>
		  <tbody>
			 <tr ng-repeat="stat in vm.projectStats | orderBy:vm.statsSortField:vm.statsReverseSort">
				<td><span ng-bind="stat.day"/></td>
				<td><span ng-bind="stat.user_total_credit"/></td>
				<td><span ng-bind="stat.user_expavg_credit"/></td>
				<td><span ng-bind="stat.host_total_credit"/></td>
				<td><span ng-bind="stat.host_expavg_credit"/></td>
			 </tr>
		  </tbody>
		</table>
	 </div>
	 
	 <div class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-3">
		  <button class="btn btn-warning" ng-click="vm.detachClicked()">Detach Project</button>
		  <detach-dialog projectname="{{vm.project.name}}" projecturl="{{vm.project.master_url}}" />
		</div>
      <div class="col-xs-3"><button class="btn btn-primary" ng-click="vm.updateProject()">Update Project</button></div>
      <div class="col-xs-3"></div>
    </div>
	 
    <div class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-3"></div>
      <div class="col-xs-3"></div>
      <div class="col-xs-3">
        <input type="checkbox" ng-model="vm.showRawData">Show raw data</input>
      </div>
    </div>      	 
  </div>
  
  
  <div class="row home-row text-center">
    <a href="/projects">Projects</a></div>
</div>
</div>
