<div ng-controller="TaskCtrl as vm">
  <h1>{{ vm.title }}</h1>
  <script type="text/javascript">
    function confirmAbort() {
      $('div.confirm-row').removeClass('hide');
    }

    $(function() {
      $('a.abort-button').on('click', function() { confirmAbort(); });
    })
  </script>
  <div ng-show="!vm.ready" class="text-center">
    <img src="/static/img/loading.gif" />
  </div>
  <div ng-show="vm.ready && vm.error" class="text-center">
    <span ng-bind="vm.errorMessage"></span>
  </div>
  <div ng-show="vm.ready && !vm.error">
    <keyvalrow key="Project name" val="{{ vm.task.project_name }}"></keyvalrow>
    <keyvalrow key="Percent done" val="{{ vm.task.fraction_done + '%' }}"></keyvalrow>
    <keyvalrow key="Time Elapsed" val="{{ vm.task.time_so_far }}"></keyvalrow>
    <keyvalrow key="Time Remaining" val="{{ vm.task.estimated_cpu_time_remaining }}"></keyvalrow>
    <keyvalrow key="Report Deadline" val="{{ vm.task.report_deadline }}"></keyvalrow>
    <keyvalrow key="Ready to report?" val="{{ vm.task.ready_to_report }}"></keyvalrow>
    <keyvalrow key="State" val="{{ vm.task.state }}"></keyvalrow>
    <keyvalrow key="Suspended via gui?" val="{{ vm.task.suspended_via_gui }}"></keyvalrow>
    <keyvalrow key="Active task state" val="{{ vm.task.active_task_state }}"></keyvalrow>

    <div class="row task-controls">
      <div class="col-xs-3"></div>
      <div class="col-xs-3">
        <a class="btn btn-primary pull-right"
          href="suspend_resume?task_name={{ task.name }}&return_url=/task?task_name={{ task.name }}">
          {{ vm.suspend_button_text}}
        </a>
      </div>
      <div class="col-xs-3"><a class="btn btn-danger abort-button">Abort</a></div>
      <div class="col-xs-3"></div>
    </div>

    <div class="row confirm-row hide">
      <div class="col-xs-3"></div>
      <div class="col-xs-3"></div>
      <div class="col-xs-3">Confirm task abort: <a href="/abort_task?task_name={{ task.name }}">OK</a></div>
      <div class="col-xs-3"></div>
    </div>
  </div>
  <div class="row home-row text-center">
    <a href="/">Home</a></div>
  </div>
</div>
