<div ng-controller="IndexCtrl as vm">
  <h1>{{ vm.title }}</h1>

  <div ng-show="!vm.ready" class="text-center">
    <img src="/static/img/loading.gif" />
  </div>
  <div ng-show="vm.ready">
    <table class="table table-striped">
      <thead>
        <th><a ng-click="vm.sortProp='idx'; vm.reverseSort=!vm.reverseSort;">#</a></th>
        <th><a ng-click="vm.sortProp='project_name'; vm.reverseSort=!vm.reverseSort;">Project Name</a></th>
        <th><a ng-click="vm.sortProp='fraction_done'; vm.reverseSort=!vm.reverseSort;">Progress</a></th>
        <th><a ng-click="vm.sortProp='state'; vm.reverseSort=!vm.reverseSort;">State</a></th>
        <th><a ng-click="vm.sortProp='time_so_far'; vm.reverseSort=!vm.reverseSort;">Time So Far</a></th>
        <th>
          <a href="#" ng-click="vm.sortProp='estimated_cpu_time_remaining'; vm.reverseSort=!reverseSort;">
            Est. Time Remaining
          </a>
        </th>
        <th><a href="#" ng-click="vm.sortProp='report_deadline'; vm.reverseSort=!reverseSort;">Deadline</a></th>
      </thead>
      <tbody>
        <tr ng-repeat="task in vm.tasks | orderBy:vm.sortProp:vm.reverseSort">

          <td><a href="#/task?task_name={{ task.name }}">{{ task.idx }}</a></td>

          <td><a href="#/project?project={{ task.project_name }}">{{ task.project_name }}</a></td>

          <td>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{task.fraction_done}}" aria-valuemin="0"
                aria-valuemax="100" style="width: {{task.fraction_done}}%;"></div>
            </div>
            <div>
              <span><small>{{ task.fraction_done }}%</small></span>
            </div>
          </td>

          <td>{{ task.state }}</td>
          <td>{{ task.time_so_far }}</td>
          <td>{{ task.estimated_cpu_time_remaining }}</td>
          <td><span ng-bind="task.report_deadline"></span></td>
        </tr>
      </tbody>
    </table>
    
    <div class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-3"></div>
      <div class="col-xs-3"></div>
      <div class="col-xs-3">
        <input type="checkbox" ng-model="vm.showRawData">Show raw data</input>
      </div>
    </div>

    <div class="row" ng-show="vm.showRawData">
      {{ vm.tasks }}
    </div>
  </div>
</div>
