div.task-row {
  padding-top: 7px;
}

li.project-link {
  padding-top: 5px;
}

div.home-row {
  padding-top: 40px;
}

div.task-controls {
  padding-top: 20px;
}

div.confirm-row {
  padding-top: 10px;
}

a {
  cursor: pointer;
}

img.button-loading {
	 height: 15px;
	 width: 15px;
}

