.navbar, 
.dropdown-menu {
  border-color: #1995dc;
  background-color: #2fa4e7;
}

a {
  color: #2fa4e7;
}

.navbar a {
  color: white;
}

div.App-Inner {
  margin: 3em;
}

h2,h3 {
  color: #317eac;
}

div.row {
  padding-bottom: 1em;
}

