{% extends 'master.html' %}

{% block content %}
<div ng-controller="DailyTransferCtrl">
{% raw %}
  <table class="table table-striped">
    <thead>
      <th><a href="#" ng-click="orderProp='date'; reverseSort = !reverseSort;">Date</a></th>
      <th><a href="#" ng-click="orderProp='uploaded'; reverseSort = !reverseSort">Uploaded</a></th>
      <th><a href="#" ng-click="orderProp='downloaded'; reverseSort = !reverseSort">Downloaded</a></th>
    </thead>
    <tr ng-repeat="dt in daily_transfers | orderBy:orderProp:reverseSort">
      <td>{{ dt.date.toDateString() }}</td>
      <td>{{ dt.uploaded }}</td>
      <td>{{ dt.downloaded }}</td>
    </tr>
  </table>
{% endraw %}
</div>


{% endblock %}
