{% extends 'master.html' %}

{% block content %}
<div ng-controller="DailyTransferCtrl">
{% raw %}
  <div class="row task-row">
    <div class="col-xs-3"></div>
    <div class="col-xs-3"><strong>Total Uploaded</strong></div>
    <div class="col-xs-3">{{ totalUploaded}}</div>
    <div class="col-xs-3"></div>
  </div>
  <div class="row task-row">
    <div class="col-xs-3"></div>
    <div class="col-xs-3"><strong>Total Downloaded</strong></div>
    <div class="col-xs-3">{{ totalDownloaded }}</div>
    <div class="col-xs-3"></div>
  </div>

  <br />

  <table class="table table-striped">
    <thead>
      <th><a href="#" ng-click="orderProp='date'; reverseSort = !reverseSort;">Date</a></th>
      <th><a href="#" ng-click="orderProp='uploaded'; reverseSort = !reverseSort">Uploaded</a></th>
      <th><a href="#" ng-click="orderProp='downloaded'; reverseSort = !reverseSort">Downloaded</a></th>
    </thead>
    <tr ng-repeat="dt in daily_transfers | orderBy:orderProp:reverseSort">
      <td>{{ dt.date.toDateString() }}</td>
      <td>{{ dt.uploaded }}</td>
      <td>{{ dt.downloaded }}</td>
    </tr>
  </table>
{% endraw %}
</div>


{% endblock %}
