{% extends 'master.html' %}

{% block content %}
  {{ task_row('Total disk space', disk_usage.total_disk_space) }}
  {{ task_row('Free disk space', disk_usage.free_disk_space) }}

  <h2>By project</h2>

  <table class="table table-striped">
    <th>Project Url</th>
    <th>Disk Usage</th>
    {% for pdu in disk_usage.project_disk_usages %}
    <tr>
      <td>{{ pdu.master_url }}</td>
      <td>{{ pdu.disk_usage }}</td>
    </tr>
    {% endfor %}
  </table>
  {% for pdu in disk_usage.project_disk_usages %}
    {{ task_row('Url', pdu.master_url) }}
    {{ task_row('Disk usage', pdu.disk_usage) }}
    <p></p>
  {% endfor %}
{% endblock %}
