{% extends 'master.html' %}

{% block content %}
{% raw %}
<div ng-controller="HostInfoCtrl">
  <div ng-show="!ready" class="text-center">
    <img src="/static/img/loading.gif" />
  </div>
  <div ng-show="ready">
    <div class="row task-row">
      <div class="col-xs-3"></div>
      <div class="col-xs-3"><strong>Timezone</strong></div>
      <div class="col-xs-3">{{host_info.timezone}}</div>
      <div class="col-xs-3"></div>
    </div>
    <div class="row task-row">
      <div class="col-xs-3"></div>
      <div class="col-xs-3"><strong>Domain name</strong></div>
      <div class="col-xs-3">{{host_info.domain_name}}</div>
      <div class="col-xs-3"></div>
    </div>
    <div class="row task-row">
      <div class="col-xs-3"></div>
      <div class="col-xs-3"><strong>IP address</strong></div>
      <div class="col-xs-3">{{host_info.ip_address}}</div>
      <div class="col-xs-3"></div>
    </div>
    <div class="row task-row">
      <div class="col-xs-3"></div>
      <div class="col-xs-3"><strong>Number of CPUs</strong></div>
      <div class="col-xs-3">{{host_info.number_of_cpus}}</div>
      <div class="col-xs-3"></div>
    </div>
    <div class="row task-row">
      <div class="col-xs-3"></div>
      <div class="col-xs-3"><strong>CPU vendor</strong></div>
      <div class="col-xs-3">{{host_info.cpu_vendor}}</div>
      <div class="col-xs-3"></div>
    </div>
    <div class="row task-row">
      <div class="col-xs-3"></div>
      <div class="col-xs-3"><strong>CPU Model</strong></div>
      <div class="col-xs-3">{{host_info.cpu_model}}</div>
      <div class="col-xs-3"></div>
    </div>
    <div class="row task-row">
      <div class="col-xs-3"></div>
      <div class="col-xs-3"><strong>CPU floating point operations/second</strong></div>
      <div class="col-xs-3">{{host_info.cpu_fps_ops}}</div>
      <div class="col-xs-3"></div>
    </div>
    <div class="row task-row">
      <div class="col-xs-3"></div>
      <div class="col-xs-3"><strong>CPU integer point operations/second</strong></div>
      <div class="col-xs-3">{{host_info.cpu_int_ops}}</div>
      <div class="col-xs-3"></div>
    </div>
    <div class="row task-row">
      <div class="col-xs-3"></div>
      <div class="col-xs-3"><strong>CPU memory bandwidth</strong></div>
      <div class="col-xs-3">{{host_info.cpu_mem_bw}}</div>
      <div class="col-xs-3"></div>
    </div>
    <div class="row task-row">
      <div class="col-xs-3"></div>
      <div class="col-xs-3"><strong>Operating system name</strong></div>
      <div class="col-xs-3">{{host_info.os_name}}</div>
      <div class="col-xs-3"></div>
    </div>
    <div class="row task-row">
      <div class="col-xs-3"></div>
      <div class="col-xs-3"><strong>Operating system version</strong></div>
      <div class="col-xs-3">{{host_info.os_version}}</div>
      <div class="col-xs-3"></div>
    </div>
    <div class="row task-row">
      <div class="col-xs-3"></div>
      <div class="col-xs-3"><strong>Memory size</strong></div>
      <div class="col-xs-3">{{host_info.memory_size}}</div>
      <div class="col-xs-3"></div>
    </div>
    <div class="row task-row">
      <div class="col-xs-3"></div>
      <div class="col-xs-3"><strong>Cache size</strong></div>
      <div class="col-xs-3">{{host_info.cache_size}}</div>
      <div class="col-xs-3"></div>
    </div>
    <div class="row task-row">
      <div class="col-xs-3"></div>
      <div class="col-xs-3"><strong>Swap size</strong></div>
      <div class="col-xs-3">{{host_info.swap_size}}</div>
      <div class="col-xs-3"></div>
    </div>
    <div class="row task-row">
      <div class="col-xs-3"></div>
      <div class="col-xs-3"><strong>Disk size</strong></div>
      <div class="col-xs-3">{{host_info.disk_size}}</div>
      <div class="col-xs-3"></div>
    </div>
    <div class="row task-row">
      <div class="col-xs-3"></div>
      <div class="col-xs-3"><strong>Disk free</strong></div>
      <div class="col-xs-3">{{host_info.disk_free}}</div>
      <div class="col-xs-3"></div>
    </div>
  </div>
</div>
{% endraw %}
{% endblock %}
