<!DOCTYPE html>
<html ng-app="zoetrope">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
      integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
      crossorigin="anonymous"></script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/angular-route.min.js"></script>
    <script src='/static/js/controllers/controller.min.js'></script>
    <script src='/static/js/app.js'></script>

  </head>
  <body>
    {% include 'navbar.html' %}
    {% raw %}
    <div class="container">
      <div ng-view></div>

      {% endraw %}
    </div>
    <p></p>
  </body>
</html>
