{% extends 'master.html' %}

{% block content %}

{% raw %}

<div ng-controller="ProjectCtrl">
  <div ng-show="!ready" class="text-center">
    <img src="/static/img/loading.gif" />
  </div>
  <div ng-show="ready && error" class="text-center">
    <span ng-bind="errorMessage"></span>
  </div>
  <div ng-show="ready && !error">
    <h2>Current Status</h2>

    <keyvalrow key="URL" val="{{ project.master_url }}"></keyvalrow>
    <keyvalrow key="Username" val="{{ project.user_name }}"></keyvalrow>
    <keyvalrow key="Team name" val="{{ project.team_name }}"></keyvalrow>
    <keyvalrow key="Attached via account manager?" val="{{ project.attached_via_account_manager }}"></keyvalrow>
    <keyvalrow key="Ended" val="{{ project.ended }}"></keyvalrow>
    <keyvalrow key="Suspended via GUI?" val="{{ project.suspended_via_gui }}"></keyvalrow>
    <keyvalrow key="Don't request more work" val="{{ project.dont_request_more_work }}"></keyvalrow>
    <keyvalrow key="Disk usage" val="{{ project.disk_usage }}"></keyvalrow>
    <keyvalrow key="Resource share" val="{{ project.resource_share }}"></keyvalrow>

    <h2>Credit</h2>

    <keyvalrow key="User total credit" val="{{ project.user_total_credit }}"></keyvalrow>
    <keyvalrow key="User recent average credit" val="{{ project.user_expavg_credit }}"></keyvalrow>
    <keyvalrow key="Total credit for this host" val="{{ project.host_total_credit }}"></keyvalrow>
    <keyvalrow key="Recent average credit for this host" val="{{ project.host_expavg_credit }}"></keyvalrow>

    <h2>Additional</h2>

    <div id="project-additional">
      <keyvalrow key="NRPC failures" val="{{ project.nrpc_failures }}"></keyvalrow>
      <keyvalrow key="Master fetch failures" val="{{ project.master_fetch_failures }}"></keyvalrow>
      <keyvalrow key="Master fetch pending?" val="{{ project.master_fetch_pending }}"></keyvalrow>
      <keyvalrow key="Scheduler RPC pending?" val="{{ project.scheduler_rpc_pending }}"></keyvalrow>
      <keyvalrow key="Trickle upload pending?" val="{{ project.trickle_upload_pending }}"></keyvalrow>
      <keyvalrow key="Last RPC" val="{{ project.last_rpc }}"></keyvalrow>
      <keyvalrow key="Project files downloaded" val="{{ project.project_files_downloaded }}"></keyvalrow>

      <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-3"></div>
        <div class="col-xs-3"></div>
        <div class="col-xs-3">
          <input type="checkbox" ng-model="showRawData">Show raw data</input>
        </div>
      </div>
      <div class="row" ng-show="showRawData">
        {{ project }}
      </div>
    </div>
  </div>
  <div class="row home-row text-center">
    <a href="/projects">Projects</a></div>
  </div>
</div>
{% endraw %}
{% endblock %}
