{% extends 'master.html' %}

{% block javascript %}

  function confirmAbort() {
    $('div.confirm-row').removeClass('hide');
  }

  $(function() {
    $('a.abort-button').on('click', function() { confirmAbort(); });
  })

{% endblock %}

{% block content %}
  {% raw %}
<div ng-controller="TaskCtrl">
  <div ng-show="!ready" class="text-center">
    <img src="/static/img/loading.gif" />
  </div>
  <div ng-show="ready">
    <div class="row task-row">
      <div class="col-xs-3"></div>
      <div class="col-xs-3"><strong>Project name</strong></div>
      <div class="col-xs-3">{{ task.project_name }}</div>
      <div class="col-xs-3"></div>
    </div>

    <div class="row task-row">
      <div class="col-xs-3"></div>
      <div class="col-xs-3"><strong>Percent done</strong></div>
      <div class="col-xs-3">{{ task.fraction_done + '%' }}</div>
      <div class="col-xs-3"></div>
    </div>

    <div class="row task-row">
      <div class="col-xs-3"></div>
      <div class="col-xs-3"><strong>Time Elapsed</strong></div>
      <div class="col-xs-3">{{ task.time_so_far }}</div>
      <div class="col-xs-3"></div>
    </div>

    <div class="row task-row" ng-show="!task.ready_to_report">
      <div class="col-xs-3"></div>
      <div class="col-xs-3"><strong>Time Remaining</strong></div>
      <div class="col-xs-3">{{ task.estimated_cpu_time_remaining }}</div>
      <div class="col-xs-3"></div>
    </div>

    <div class="row task-row">
      <div class="col-xs-3"></div>
      <div class="col-xs-3"><strong>Report Deadline</strong></div>
      <div class="col-xs-3">{{ task.report_deadline }}</div>
      <div class="col-xs-3"></div>
    </div>

    <div class="row task-row">
      <div class="col-xs-3"></div>
      <div class="col-xs-3"><strong>Ready to report?</strong></div>
      <div class="col-xs-3">{{ task.ready_to_report }}</div>
      <div class="col-xs-3"></div>
    </div>

    <div class="row task-row">
      <div class="col-xs-3"></div>
      <div class="col-xs-3"><strong>State</strong></div>
      <div class="col-xs-3">{{ task.state }}</div>
      <div class="col-xs-3"></div>
    </div>

    <div class="row task-row">
      <div class="col-xs-3"></div>
      <div class="col-xs-3"><strong>Suspended via gui?</strong></div>
      <div class="col-xs-3">{{ task.suspended_via_gui }}</div>
      <div class="col-xs-3"></div>
    </div>

    <div class="row task-row">
      <div class="col-xs-3"></div>
      <div class="col-xs-3"><strong>Active task state</strong></div>
      <div class="col-xs-3">{{ task.active_task_state }}</div>
      <div class="col-xs-3"></div>
    </div>

    <div class="row task-controls">
      <div class="col-xs-3"></div>
      <div class="col-xs-3">
        <a class="btn btn-primary pull-right"
          href="suspend_resume?task_name={{ task.name }}&return_url=/task?task_name={{ task.name }}">
          {{ suspend_button_text}}
        </a>
      </div>
      <div class="col-xs-3"><a class="btn btn-danger abort-button">Abort</a></div>
      <div class="col-xs-3"></div>
    </div>

    <div class="row confirm-row hide">
      <div class="col-xs-3"></div>
      <div class="col-xs-3"></div>
      <div class="col-xs-3">Confirm task abort: <a href="/abort_task?task_name={{ task.name }}">OK</a></div>
      <div class="col-xs-3"></div>
    </div>
    {% endraw %}

    <div class="row home-row">
      <div class="col-xs-3"></div>
      <div class="col-xs-3"></div>
      <div class="col-xs-3"><a href="/">Home</a></div>
      <div class="col-xs-3"></div>
    </div>
  </div>
</div>
{% endblock %}
