{% extends 'master.html' %}
    {%block content %}
      <table class="table table-striped">
        <thead>
          <th>#</th>
          <th>Project Name</th>
          <th>Progress</th>
          <th>State</th>
          <th>Time So Far</th>
          <th>Est. Time Remaining</th>
          <th>Deadline</th>
        </thead>
        {% for task in tasks %}
        <tr>
          <td><a href="/task?task_name={{task.name}}" title="View task details">{{loop.index}}.</a></td>
          <td>{{task.project_name}}</td>
          <td>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{task.fraction_done}}" aria-valuemin="0"
                aria-valuemax="100" style="width: {{task.fraction_done}}%;"></div>
            </div>
            <div>
              <span><small>{{task.fraction_done}}%</small></span>
            </div>
          </td>
          <td>
              {{ task.get_state_string() }}
          </td>
          <td>
            {% if task.ready_to_report %}
              {{task.final_cpu_time}}
            {% else %}
              {{task.current_cpu_time}}
            {% endif %}
          </td>
          <td>{{task.estimated_cpu_time_remaining}}</td>
          <td>{{task.report_deadline}}</td>
        </tr>
        {% endfor %}
      </table>

      <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-3"></div>
        <div class="col-xs-3"></div>
        <div class="col-xs-3">
          <a class="btn btn-primary" href="/do_network_communication">Do network communication</a>
        </div>
      </div>
    {% endblock %}
