{% extends 'master.html' %}
    {%block content %}
      <table class="table table-striped">
        <thead>
          <th>#</th>
          <th>Task URL</th>
          <th>Progress</th>
          <th>Time So Far</th>
          <th>Est. Time Remaining (hh:mm:ss)</th>
          <th>Deadline</th>
        </thead>
        {% for task in tasks %}
        <tr>
          <td>{{loop.index}}.</td>
          <td>{{task.project_url}}</td>
          <td>{{task.fraction_done}}</td>
          <td>{{task.current_cpu_time}}</td>
          <td>{{task.estimated_cpu_time_remaining}}</td>
          <td>{{task.report_deadline}}</td>
        </tr>
        {% endfor %}
      </table>
    {% endblock %}
