{% extends 'master.html' %}

{% block stylesheet %}
  div.row {
    padding-top: 5px;
  }

  li {
    padding-top: 5px;
  }
{% endblock %}

{% block content %}

<h2>Summary</h2>

  {{ task_row('URL', project.master_url) }}
  {{ task_row('Username', project.user_name) }}
  {{ task_row('Team name', project.team_name) }}

<h2>Current Status</h2>
  {{ task_row('Attached via account manager?', project.attached_via_account_manager) }}
  {{ task_row('Ended?', project.ended) }}
  {{ task_row('Suspended via GUI?', project.suspended_via_gui) }}
  {{ task_row('Don\'t request more work?', project.dont_request_more_work) }}
  {{ task_row('Disk usage', project.disk_usage) }}
  {{ task_row('Resource share', project.resource_share) }}

<h2>Credit</h2>
  {{ task_row('User total credit', project.user_total_credit) }}
  {{ task_row('User recent average credit', project.user_expavg_credit) }}
  {{ task_row('Total credit for this host', project.host_total_credit) }}
  {{ task_row('Recent average credit for this host', project.host_expavg_credit) }}

<h2>Project Links</h2>
<div class="row">
  <div class="col-xs-3"></div>
  <div class="col-xs-6">
    <ul>
    {% for gu in project.gui_urls %}
      <li><a href="{{gu.url}}" title="{{gu.description}}">{{gu.name}}</a></li>
    {% endfor %}
    </ul>
  </div>
  <div class="col-xs-3"></div>
</div>

<h2>Additional</h2>
<a data-toggle="collapse" href="#project-additional" aria-controls="project-additional" aria-expanded="false">
  Show/Hide
</a>
<div class="collapse" id="project-additional">
  {{ task_row('NRPC failures', project.nrpc_failures) }}
  {{ task_row('Master fetch failures', project.master_fetch_failures) }}
  {{ task_row('Master fetch pending?', project.master_fetch_pending) }}
  {{ task_row('Scheduler RPC pending?', project.scheduler_rpc_pending) }}
  {{ task_row('Trickle upload pending?', project.trickle_upload_pending) }}
  {{ task_row('Last RPC', project.last_rpc) }}
  {{ task_row('Project files downloaded', project.project_files_downloaded) }}
</div>

{% endblock %}
