{% extends 'master.html' %}

{% block javascript %}

  function confirmAbort() {
    $('div.confirm-row').removeClass('hide');
  }

  $(function() {
    $('a.abort-button').on('click', function() { confirmAbort(); });
  })

{% endblock %}

{% block content %}
  {{task_row('Project Name', task.project_name)}}
  {{task_row('Project URL', task.project_url)}}
  {{task_row('Percent done', task.fraction_done + '%')}}

  {% if task.ready_to_report %}
    {{task_row('Time elapsed', task.final_cpu_time)}}
  {% else %}
    {{task_row('Time elapsed', task.current_cpu_time)}}
    {{task_row('Time remaining', task.estimated_cpu_time_remaining)}}
  {% endif %}

  {{task_row('Report deadline', task.report_deadline)}}
  {{task_row('Ready to report?', task.ready_to_report)}}

  {{task_row('State', task.get_state_string())}}
  {{task_row('Suspended via gui?', task.suspended_via_gui)}}
  {{task_row('Active task state', task.active_task_state)}}

  <div class="row task-controls">
    <div class="col-xs-3"></div>
    <div class="col-xs-3">
      <a class="btn btn-primary pull-right"
        href="suspend_resume?task_name={{ task.name }}&return_url=/task?task_name={{ task.name }}">
        {% if task.suspended_via_gui %}
          Resume
        {% else %}
          Suspend
        {% endif %}
      </a>
    </div>
    <div class="col-xs-3"><a class="btn btn-danger abort-button">Abort</a></div>
    <div class="col-xs-3"></div>
  </div>

  <div class="row confirm-row hide">
    <div class="col-xs-3"></div>
    <div class="col-xs-3"></div>
    <div class="col-xs-3">Confirm task abort: <a href="/abort_task?task_name={{ task.name }}">OK</a></div>
    <div class="col-xs-3"></div>
  </div>

  <div class="row home-row">
    <div class="col-xs-3"></div>
    <div class="col-xs-3"></div>
    <div class="col-xs-3"><a href="/">Home</a></div>
    <div class="col-xs-3"></div>
  </div>
{% endblock %}
